body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 9fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
  text-align: center;
}

.rockList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#logo {
  text-align: center;
}

#form {
  display: block;
}
