body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.rockimg {
  width: 200px;
  height: 200px;
}

.singleRockimg {
  width: 400px;
  height: 400px;
}

.carouselimg {
  width: 400px;
  height: 400px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 9fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
  text-align: center;
}

.rockList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#logo {
  text-align: center;
}

.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.shopping-title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
}

.item {
  padding: 20px 30px;
  height: 180px;
  display: flex;
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.item-image {
  margin-left: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 150px;
  height: 150px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  margin-left: 60px;
  padding-left: 10px;
  width: 350px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
  color: goldenrod;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.quantity span {
  font-size: 15px;
  margin-left: 40px;
  color: #43484d;
}

.plus-btn,
.minus-btn,
.delete-btn {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
}

.total-price {
  width: 85px;
  padding-top: 25px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
}
#bill {
  border: 3px solid black;
  width: 20%;
  padding: 10px;
}

#checkoutDiv {
  margin-bottom: 100px;
}

#confirmation {
  text-align: center;
}

#form {
  display: block;
}

#checkoutButton {
  font-size: 24px;
  background-color: white;
  text-align: right;
}

.shopping-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
